##############################################################################################################################################
# [mysqld]
#   This is a section header that indicates the following lines apply specifically to the MySQL
#   server daemon, which is the main process that handles database operations.
#
# 2. datadir = /var/lib/mysql:
#   This line specifies the directory where MySQL stores its data files, including databases, tables, logs, and other essential files.
#   In this case, the data directory is set to /var/lib/mysql, which is a common default location on many Linux systems.
#
# 3. bind_address = 0.0.0.0:
#   This setting controls the IP address on which the MySQL server listens for incoming connections.
#   The value 0.0.0.0 means that the server will listen on all available network interfaces, making it accessible from anywhere on the network.
#
# 4. port = 3306:
#   This line specifies the port number that the MySQL server will use for network communication.
#   The default port for MySQL is 3306, and this configuration keeps that default setting.
# 5. user = mysql:
# This setting defines the operating system user account that the MySQL server will use to access its data directory and files.
##############################################################################################################################################

[mysqld]
datadir = /var/lib/mysql
bind_address=0.0.0.0
port = 3306
user = mysql